@model IEnumerable<E_Guitar_IT_Project.Models.Guitar>

@{
	ViewBag.Title = "Index";
}

<h2>Guitars</h2>

<p>
	@if (User.IsInRole("ADMIN") || User.IsInRole("EDITOR"))
	{
    @Html.ActionLink("Create New", "Create","Guitars",
		new { @class = "btn btn-primary" }
		)
	}
</p>
<table class="table table-hover" id="tableId">
	<thead>
		<tr >
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UrlImg)
			</th>
			<th>
				
				Category
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Samples)
			</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.ActionLink(item.Name, "Details", new { id = item.id })
				</td>
				<td>
					<img style="max-width:100px; max-height:100px" src="@Html.DisplayFor(modelItem => item.UrlImg)" )" alt="IMAGES" />
				</td>
				<td>
					
					@Html.DisplayFor(modelItem => item.Category.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Samples)
				</td>
				<td>


					@Html.ActionLink(
					 linkText: "Add to cart",
					 actionName: "AddToCart",
					 controllerName: "ShoppingCart",
					 routeValues: new
					 {
						 id = item.id
					 },
					 htmlAttributes: new { @class = "btn btn-success" }
					)


					<br />



					@Html.ActionLink(
					linkText: "Delete from cart",
					actionName: "Delete",
					controllerName: "ShoppingCart",
					routeValues: new
					{
						id = item.id
					},
					htmlAttributes: new { @class = "btn btn-danger" }
					)



				</td>
				<td>
					@if (User.IsInRole("ADMIN") || User.IsInRole("EDITOR"))
					{

						@Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-primary" })
						<br />
					}
					@if (User.IsInRole("ADMIN") || User.IsInRole("EDITOR"))
					{
						<a class="btn btn-danger js-delete" data-id="@item.id">Delete</a>

						@*@Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })*@
					}

				</td>

			</tr>
		 }
	</tbody>

</table>

@section scripts{
	
	<script>
		$("#tableId").DataTable();


		var table = $("#tableId").DataTable();

			$("#tableId .js-delete").click(
			function () {


				var btn = $(this)
				bootbox.confirm("Delete?",
					function (result) {
						if (result) {
							$.ajax({
								method: "GET",
								url: "/Guitars/Delete/" + btn.attr("data-id"),
								success: function () {
									table.row(btn.parents("tr")).remove.draw();
								}
							})
						}
					}
				);


			});


		$(function () {
			$("#tableId img").mouseover(function () {
				$(this).animate({ height: '+=25', width: '+=25' })
			});
		});
		
		$(function () {
			$("#tableId img").mouseout(function () {
				$(this).animate({ height: '-=25', width: '-=25' })
			});
		});




		onmouseover = "this.bgColor='white'; this.style.color='black'"

		onmouseout = "this.bgColor='black'; this.style.color='white'"
		$(document).ready(function () {
			$("#tableId tbody tr").hover(function () {
				$(this).css("background", "#F0F0F0");
			},
				function () {
					$(this).css("background", "#FFF");
				});
		});

		$('#tableId tbody tr').hover(function () {
			$(this).stop().animate({ fontSize: '17px' });
		},
			function () {
				$(this).stop().animate({ fontSize: '14px' });
			});
	</script>

}